<html>
<title>new website</title>
<head>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<h1 align="center">new technology developermmt</h1>
</head>
<body background-color:red>
<table border="2.0">
<td>
<header> sadasdasd</header>
</td>
<tr>
<td><aside>ndsfldskfsdf</aside></td></tr></table>
<table>
<ol>
{% for items in authors %}
<li >{{ items      }}</li>
{% endfor %}
</ol>
</table>
</body>
</html>